# Knowledge Check 2

## Step One: Importing Pandas and Numpy, Loading the DataFrame

First, let's import Pandas and Numpy. Then we will read in our DataFrame. Used here is an Excel file obtained from the Boone County Animal Control Center containing adoption data for cats adopted through the shelter in 2022.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('BCACC_2022 Cat Adoptions-Color.xlsx')

## Step Two: What Are We Working With?

Next, let's look at the shape of the DataFrame as well as looking at the DataFrame's head and tail to see what columns we have and if there's anything unusual about the file. I've also got the original Excel file open in another window to compare what came into my code with the source data.

In [3]:
print(df.shape)
df

(481, 16)

,Unnamed: 0,Unnamed: 1,Animal Status Report,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,Date Generated:,Jun 23 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,From:,1-Jan-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,To:,31-Dec-2022 23:59:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Type:,"Cat, Kitten",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Status:,"Adopted, Adopted Altered, Adopted Offsite(Unal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,52350,2022-06-28 15:27:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Short Hair,NaN,Black \nTortoiseshell,NaN,Slinky
477,52350,2022-06-28 15:27:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Short Hair,NaN,Black \nTortoiseshell,NaN,Slinky
478,52351,2022-06-29 14:12:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Short Hair,NaN,Black \nTortoiseshell,NaN,Wheezy
479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,Total,466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The head and tail of the DataFrame do not appear to match with each other. What's going on here? Let's look at the first 20 rows to see if we can determine where, exactly, it gets "weird."

In [4]:
df.head(20)

,Unnamed: 0,Unnamed: 1,Animal Status Report,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,Date Generated:,Jun 23 2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,From:,1-Jan-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,To:,31-Dec-2022 23:59:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Type:,"Cat, Kitten",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Status:,"Adopted, Adopted Altered, Adopted Offsite(Unal...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,Region:,All,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Sub-Status:,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Sources:,All,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Date Field for Date \nRange:,Status Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Animal ID,Status Date,Date Out Of Status,Days In Status,Status,NaN,Sub Status,NaN,Next Status,Physical Location,Type,Breed,Age,Primary colour,Secondary \ncolour,Name
12,53880,2022-12-06 14:16:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Cat,Bombay,8 Years 7 Months 1 Week (approx),Black,Brown,Faith
13,54032,2022-12-15 12:55:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Longhair,8 Months 2 Weeks,Grey,NaN,Prancer
14,52904,2022-08-12 15:36:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Cat,Domestic Longhair,3 Years 10 Months 3 Weeks (approx),Black,White,Gabriel
15,52975,2022-08-18 17:34:00,2022-12-30 16:00:00,134,Adopted,NaN,NaN,NaN,Available For Adoption,Boone County Animal Shelter,Cat,Domestic Longhair,1 Year 4 Months 1 Week (approx),Black,White,Zora
16,53454,2022-10-20 15:56:00,NaN,NaN,Adopted Altered,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Cat,Domestic Longhair,1 Year 8 Months 1 Week (approx),Black,White,Frisky
17,51506,2022-03-22 16:22:00,2022-03-28 12:32:00,6,Adopted,NaN,NaN,NaN,Available For Adoption,Boone County Animal Shelter,Cat,Domestic Longhair,5 Years 3 Months 3 Weeks,Tortoiseshell,NaN,Athena
18,51505,2022-03-22 16:22:00,2022-03-28 12:31:00,6,Adopted,NaN,NaN,NaN,Available For Adoption,Boone County Animal Shelter,Cat,Domestic Longhair,5 Years 3 Months 3 Weeks,Torbie,NaN,Luna
19,51505,2022-04-09 12:52:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Cat,Domestic Longhair,5 Years 3 Months 3 Weeks,Torbie,NaN,Luna

Ah! Looking here, and looking at the source document in Excel, I can see that there is some formatting at the beginning of the Excel document that simply specifies the parameters the animal shelter director used to run the report. The first ten rows of this DataFrame are different from the rest of the data and can be dropped.

Let's start cleaning.

## Step Three: Cleaning House

First, let's get rid of those top 10 rows.

In [5]:
df2 = df.iloc[11:]
df2

,Unnamed: 0,Unnamed: 1,Animal Status Report,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
11,Animal ID,Status Date,Date Out Of Status,Days In Status,Status,NaN,Sub Status,NaN,Next Status,Physical Location,Type,Breed,Age,Primary colour,Secondary \ncolour,Name
12,53880,2022-12-06 14:16:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Cat,Bombay,8 Years 7 Months 1 Week (approx),Black,Brown,Faith
13,54032,2022-12-15 12:55:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Longhair,8 Months 2 Weeks,Grey,NaN,Prancer
14,52904,2022-08-12 15:36:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Cat,Domestic Longhair,3 Years 10 Months 3 Weeks (approx),Black,White,Gabriel
15,52975,2022-08-18 17:34:00,2022-12-30 16:00:00,134,Adopted,NaN,NaN,NaN,Available For Adoption,Boone County Animal Shelter,Cat,Domestic Longhair,1 Year 4 Months 1 Week (approx),Black,White,Zora
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,52350,2022-06-28 15:27:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Short Hair,NaN,Black \nTortoiseshell,NaN,Slinky
477,52350,2022-06-28 15:27:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Short Hair,NaN,Black \nTortoiseshell,NaN,Slinky
478,52351,2022-06-29 14:12:00,NaN,NaN,Adopted,NaN,NaN,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Short Hair,NaN,Black \nTortoiseshell,NaN,Wheezy
479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,Total,466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The column headings from the body of the Excel spreadsheet are seen at row 11. Two columns, at index positions 5 and 7, seem to have no data in them and don't correlate with any columns from the source document. Those can be dropped.

In [6]:
df3 = df2.drop(df2.columns[[5, 7]], axis=1)
df3

,Unnamed: 0,Unnamed: 1,Animal Status Report,Unnamed: 3,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
11,Animal ID,Status Date,Date Out Of Status,Days In Status,Status,Sub Status,Next Status,Physical Location,Type,Breed,Age,Primary colour,Secondary \ncolour,Name
12,53880,2022-12-06 14:16:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Cat,Bombay,8 Years 7 Months 1 Week (approx),Black,Brown,Faith
13,54032,2022-12-15 12:55:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Longhair,8 Months 2 Weeks,Grey,NaN,Prancer
14,52904,2022-08-12 15:36:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Cat,Domestic Longhair,3 Years 10 Months 3 Weeks (approx),Black,White,Gabriel
15,52975,2022-08-18 17:34:00,2022-12-30 16:00:00,134,Adopted,NaN,Available For Adoption,Boone County Animal Shelter,Cat,Domestic Longhair,1 Year 4 Months 1 Week (approx),Black,White,Zora
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,52350,2022-06-28 15:27:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Short Hair,NaN,Black \nTortoiseshell,NaN,Slinky
477,52350,2022-06-28 15:27:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Short Hair,NaN,Black \nTortoiseshell,NaN,Slinky
478,52351,2022-06-29 14:12:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Short Hair,NaN,Black \nTortoiseshell,NaN,Wheezy
479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,Total,466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Because we elimated the first ten rows of the original DataFrame, the new DataFrame doesn't know what the column names are. Let's fix that.

In [7]:
df3.rename(columns={df3.columns[0]: 'animal_id', df3.columns[1]: 'status_date', df3.columns[2]: 'date_out', 
                   df3.columns[3]: 'days_in', df3.columns[4]: 'status', df3.columns[5]: 'sub_status', 
                    df3.columns[6]: 'next_status', df3.columns[7]: 'location', df3.columns[8]: 'type',
                     df3.columns[9]: 'breed', df3.columns[10]: 'age', df3.columns[11]: 'primary_color',
                      df3.columns[12]: 'secondary_color', df3.columns[13]: 'name'}, inplace=True)
print(df3.columns)

Index(['animal_id', 'status_date', 'date_out', 'days_in', 'status',
       'sub_status', 'next_status', 'location', 'type', 'breed', 'age',
       'primary_color', 'secondary_color', 'name'],
      dtype='object')

And let's check to make sure everything is in the right spot...

In [8]:
df3.head()

,animal_id,status_date,date_out,days_in,status,sub_status,next_status,location,type,breed,age,primary_color,secondary_color,name
11,Animal ID,Status Date,Date Out Of Status,Days In Status,Status,Sub Status,Next Status,Physical Location,Type,Breed,Age,Primary colour,Secondary \ncolour,Name
12,53880,2022-12-06 14:16:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Cat,Bombay,8 Years 7 Months 1 Week (approx),Black,Brown,Faith
13,54032,2022-12-15 12:55:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Longhair,8 Months 2 Weeks,Grey,NaN,Prancer
14,52904,2022-08-12 15:36:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Cat,Domestic Longhair,3 Years 10 Months 3 Weeks (approx),Black,White,Gabriel
15,52975,2022-08-18 17:34:00,2022-12-30 16:00:00,134,Adopted,NaN,Available For Adoption,Boone County Animal Shelter,Cat,Domestic Longhair,1 Year 4 Months 1 Week (approx),Black,White,Zora

With our new column names matching up (while being more Pythonic) with the column names in row 11 from the source data, we can now delete row 11 (which is actually the first row of our new DataFrame.)

In [9]:
df3.drop(index=df3.index[0], axis=0, inplace=True)
df3.head()

,animal_id,status_date,date_out,days_in,status,sub_status,next_status,location,type,breed,age,primary_color,secondary_color,name
12,53880,2022-12-06 14:16:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Cat,Bombay,8 Years 7 Months 1 Week (approx),Black,Brown,Faith
13,54032,2022-12-15 12:55:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Longhair,8 Months 2 Weeks,Grey,NaN,Prancer
14,52904,2022-08-12 15:36:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Cat,Domestic Longhair,3 Years 10 Months 3 Weeks (approx),Black,White,Gabriel
15,52975,2022-08-18 17:34:00,2022-12-30 16:00:00,134,Adopted,NaN,Available For Adoption,Boone County Animal Shelter,Cat,Domestic Longhair,1 Year 4 Months 1 Week (approx),Black,White,Zora
16,53454,2022-10-20 15:56:00,NaN,NaN,Adopted Altered,NaN,NaN,Boone County Animal Shelter,Cat,Domestic Longhair,1 Year 8 Months 1 Week (approx),Black,White,Frisky

Finally, let's reset the index of our new DataFrame.

In [10]:
df3 = df3.reset_index(drop=True)
df3.head()

,animal_id,status_date,date_out,days_in,status,sub_status,next_status,location,type,breed,age,primary_color,secondary_color,name
0,53880,2022-12-06 14:16:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Cat,Bombay,8 Years 7 Months 1 Week (approx),Black,Brown,Faith
1,54032,2022-12-15 12:55:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Kitten,Domestic Longhair,8 Months 2 Weeks,Grey,NaN,Prancer
2,52904,2022-08-12 15:36:00,NaN,NaN,Adopted,NaN,NaN,Boone County Animal Shelter,Cat,Domestic Longhair,3 Years 10 Months 3 Weeks (approx),Black,White,Gabriel
3,52975,2022-08-18 17:34:00,2022-12-30 16:00:00,134,Adopted,NaN,Available For Adoption,Boone County Animal Shelter,Cat,Domestic Longhair,1 Year 4 Months 1 Week (approx),Black,White,Zora
4,53454,2022-10-20 15:56:00,NaN,NaN,Adopted Altered,NaN,NaN,Boone County Animal Shelter,Cat,Domestic Longhair,1 Year 8 Months 1 Week (approx),Black,White,Frisky

Excellent. We have more cleaning to do to deal with null values and get rid of data columns we don't need for our final project, but we now have a much more workable DataFrame with easy-to-type column names and data that matches the body of the source Excel file.